.invitation {
    width: 100vw;
    height: 100vh;

    background: url('../public/bg.webp');
    background-position: center center;
    background-size: cover;


    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;

    @media (max-width: 577px) { 
        background: url('../public/bg-rotate-smaller.jpg');
        background-position: center;
        background-size: cover;
    }
}

.credits {
    position: fixed;
    bottom: 2px;
    left: 2px;
    font-size: 0.75rem;
    
    color: #ae6e2a;
}